#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-ball {
    position: relative;
    display: flex;
    width: 80%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.back-ball.dark {
    background-color: rgba(255, 255, 255, 0.356);
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    top: 50%;
    left: 50%;
    /* top: 85%; */
    /* left: 0.5%; */
    /* left: 94%; */
    /* top: 0%; */
}